.brands-section{
    width: 100%;
    background-color: var(--bg-secondary);

    .brands-bar-c{
       overflow: hidden;
       position: relative;
       
       .brands-bar{
          animation: infinite-loop 8s linear infinite;
       
           img{
               width: 100px;
               height: 100px;
               margin-right: 100px;     
           }
       }
    
       .brands-box{
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 70px;
       }
       .brands-box-one{
        left: 0;
        background:linear-gradient(to right,var(--bg-secondary),transparent);
    }
       .brands-box-two{
        right: 0;
        background:linear-gradient(to left,var(--bg-secondary),transparent);
    }
    }
}



@keyframes infinite-loop{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1600px);
    }
}