.contact-section{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--bg-secondary);

    p{color: var(--text-secondary);}

    .contact-icon{
        background-color: #b1d0fd;
        font-size: 20px;
        border-radius: 8px;
        padding: 2px 6px;
        margin-right: 10px;
    }

}