.features-section{
    width: 100%;
    background-color: var(--bg-secondary);
    padding-top: 90px;
    padding-bottom: 90px;

    .features-section-1{margin-bottom: 200px;}

    .features-col{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .features-points{
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            
            .features-icon{
                font-size: 25px;
                padding: 2px 8px;
                background-color: #ffff;
                box-shadow: 0 5px 10px 2px #2d4cff36;
                margin-right: 10px;
                border-radius: 50%;
                
            }
           
        }

    }
}