.footer-section{
    width: 100%;
    padding-top: 90px;
    

    h4,h6,p,i{
        color: var(--text-white);
    }
    li{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: var(--text-gray);

        &:hover{
            color: var(--text-white);
            text-decoration: underline;
        }
    }
    i{
        padding: 6px 8px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: #5f5f5f;
        transition: all 0.2s ease-in;

        &:hover{
            color: #0d6efd;
            background-color: #ffff;
            cursor: pointer;
        }
    }
}