.hero-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
   .container{
    
       .hero-col-1{
           padding: 20px;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           align-items: flex-start;
    
           .hero-icon{
               font-size: 2.5rem;
               padding: 5px 15px;
               color: #fff;
               background-color: #ffffff36;
               border-radius: 50%;
              
           }
    
           h1{
               color: var(--text-white);
               font-size: clamp(2.5rem,4vw,4rem);
       
           }
           p{
               color: var(--text-gray);
           }
           .hero-info{
               display: flex;
               animation-delay: 1.6s;
       
               i{
                   margin-right: 8px;
                   color: #20ffb5;
                   
               }
           }
           button{
               display: flex;
               justify-content: center;
               align-items: center;
       
               &:hover i{
                   transform: translateX(8px);
               }
       
               i{
                   margin-left: 10px;
                   transition: all 0.3s ease;
               }
           }
           
       }


    @media screen and (max-width:992px){
        margin-top: 70px;
    }
   }

}

