.navbar{
    position: fixed !important; 
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
    

    .navbar-toggler{
        background-color: #c987ff;
        color: var(--text-white);
    }
    .navbar-toggler-icon{
        color: #fff;
        
    }

    .navbar-brand{
        color:var(--text-white);

        &:hover{
            color:var(--text-white);  
        }

    }
    
    .nav-link{
        color:var(--text-gray);
        margin-right: 15px;

        &:hover{
            color: var(--text-white);
        }
          
    }

    .nav-btn{
        color: var(--text-white);
        background-color: #8a22df86;
        border: 1px solid #c987ff;

        &:hover{
            color:var(--text-blue);
            background-color: var(--text-white);
            border-color: var(--text-white);
        }
    }
    .login-link{
        &:visited{
            color: var(--text-white) ;
        }
    }

    .active{
        color: var(--text-white) !important;
        text-decoration: underline;
    }


    @media screen and (max-width:992px){
        background: var(--nav-gradient);
    }
}
.navbar-custom{
    background: var(--nav-gradient);
    animation: navbar-animation 0.3s linear;
}

@keyframes navbar-animation{
    from{
        height: 0;
    }
    to{
        height: 60px;
    }
}

