.price-box{
    width: 350px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(52, 58, 64, 0.08);
    border-radius: 4px;
    padding: 50px;

    .text-price{
        font-size: 1rem;
    }

    @media screen and (max-width:350px){
        width: 100%;
    }
}