.testimonial-section{
    width: 100%;
    background-color: var(--bg-primary);
    padding-top: 90px;
    padding-bottom: 90px;

    q{
        width: 50%;

        @media screen and (max-width:576px){
            width: 100%;
        }
    }
}