*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-primary:#111111;
  --text-secondary:#414141;
  --text-white:#fcfcfc;
  --text-gray:#c0c0c0;
  --nav-gradient:linear-gradient(#293daf 0%, #6e1f8c 100%);
  --bg-primary:#ffffff;
  --bg-secondary:#f0f0f0;
}

html{
  scroll-behavior: smooth;
}